.clear,
.zero {
    border: 1px solid grey;
    font-size: 40px;
    height: 94px;
    width: 75%;
}

.clear {
    font-weight: lighter;
}

.zero {
    font-weight: bolder;
}

.number,
.symbol {
    border: 1px solid grey;
    height: 94px;
    width: 25%;
}

.number {
    font-size: 40px;
    font-weight: bolder;
}

.symbol {
    background-color: #A01C1D;
    font-size: 70px;
    font-weight: lighter;
    color: #fff;
}