.action,
.number {
    border: 1px solid grey;
    height: 94px;
    width: 25%;
}

.action {
    background-color: #A01C1D;
    font-size: 7rem;
    font-weight: lighter;
    color: #fff;
}

.number {
    font-size: 4rem;
    font-weight: bolder;
}

.clear,
.zero {
    width: 75%;
}

.clear {
    background-color: #fff;
    color: #000;
    font-size: 4rem;
}



